.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.container h1 {
  color: #19536e;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.form Label {
  color: #19536e;
  font-weight: bold;
  align-self: flex-start;
}

.form button {
  background-color: #19536e;
  color: #fff;
  border: none;
  padding: 16px 24px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.form button:hover {
  background-color: #144e5a;
}
